.container {
	margin-top: 50px;

}
.box {
	margin-top: 15px;
	vertical-align: top;
	width: 50%	
}
#right-box {
	margin-top: 30px;
}
#left-box {
	margin-top: 34px;
}

.linkUnderline {
    text-decoration: underline;
}
.btnLink {
	background: none!important;
	border: none;
	padding: 0!important;
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
}
.btnLink:hover { 
	color: #0056b3; 
}

.pColor {
    color: green;
    font-weight: bold;
}
